# Repo-Level Owners (in alphabetical order)
# Note: This is only for the notaryproject/tspclient-go repo
* @gokarnm @JeyJeyGao @niazfk @priteshbandi @shizhMSFT @toddysm @Two-Hearts @vaninrao10 @yizha1
